html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.fullscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 80vh;
}

#inventory {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 20vh;
  overflow-y: hidden;
}

.item {
  width: 20vh;
  height: 20vh;
  position: relative;
  flex-shrink: 0;
}

.item>img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -moz-user-select: none;
  pointer-events: none;
}

.item>span {
  user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 3em;
  background-color: rgba(255, 255, 255, 0.5);
}

.cursor-talk {
  cursor: url("cursors/mouth.png"), pointer;
}

.cursor-take {
  cursor: url("cursors/take.png"), grab;
}

.cursor-look {
  cursor: url("cursors/eye.png"), pointer;
}

.cursor-door {
  cursor: url("cursors/door.png"), pointer;
}

.cursor-use {
  cursor: url("cursors/use.png"), pointer;
}

.hidden {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

/* Dialog */
#dialog {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

#dialog-overlay {
  z-index: 999;
}

#dialog-options {
  pointer-events: all;
  z-index: 1000;
  position: relative;
}

#dialog-text {
  color: white;
  font-size: 3em;
}

#dialog-text span.bold {
  font-weight: bold;
}
#dialog-text span.italic {
  font-style: italic;
}
#dialog-text span.shake {
  animation: shake 0.15s infinite;
  display: inline-block;
}

@keyframes shake {
  0% { transform: translate(0px, 5px); }
  20% { transform: translate(5px, 7px); }
  40% { transform: translate(-2px, -3px); }
  60% { transform: translate(9px, -6px); }
  80% { transform: translate(3px, 9px); }
  100% { transform: translate(0px, 5px); }
}

/* scene transition overlay */
#scene-overlay {
  z-index: 1001;
  cursor: none;
  background-color: black;
  display: none;
}
#scene-overlay.active {
  display: block;
  animation: scene 2.0s;
}

@keyframes scene {
  0% {clip-path: circle(0%);}
  45% {clip-path: circle(100%);}
  55% {clip-path: circle(100%);}
  100% {clip-path: circle(0%);}
}

/* menu screens */
.menu {
  position: relative;
  box-sizing: border-box;
}
.menu-bg {
  background-image: url(/Assets/UI/MainMenu/Background-Looping.png);
}

.click-sign img {
  max-width: 30vw;
}

#loading-screen {
  z-index: 1499;
  display: grid;
  place-items: center;
  font-size: 5em;
}
#main-menu-screen {
  z-index: 1500;
  display: grid;
  grid-template-areas: 
  "logo logo ."
  "logo logo options"
  "exit . start";
  padding: 1em; 
  padding-top: 0; 
}
#options-screen {
  z-index: 1501;
  display: grid;
  justify-items: center;
}
#options-screen > div {
  align-self: start;
}
#options-screen:not(.hidden):not(.hide) {
  animation: blur 0.4s forwards;
}
#options-screen.hide {
  animation: unblur 0.4s forwards !important;
}
#options-screen:not(.hidden) > div {
  animation: options-fly-in 0.4s ease-out forwards;
}
#options-screen.hide > div {
  animation: options-fly-out 0.4s ease-in forwards !important;
}

#loading-spinner {
  display: block;
  width: 3em;
  height: 3em;
  border: 0.5em solid black;
  animation: spin 1s linear infinite;
}

#main-menu-sign {
  grid-area: logo;
  margin-top: -20px;
}
#main-menu-options {
  grid-area: options;
}
#main-menu-exit {
  grid-area: exit;
}
#main-menu-start {
  grid-area: start;
  justify-self: end;
}
#main-menu-sign img {
  animation: sway 5s ease-in-out alternate-reverse infinite;
  transform-origin: 50% 0%;
  max-width: 50vw;
  max-height: 60vh;
}
#logo-shadow {
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: -1;
  animation: sway-2 5s ease-in-out alternate-reverse infinite !important;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes sway {
  0% {transform: rotate(-3deg);}
  100% {transform: rotate(3deg);}
}
@keyframes sway-2 {
  0% {transform: rotate(-3deg);}
  100% {transform: rotate(1deg);}
}
@keyframes options-fly-in {
  0% {margin-top: -100vh}
  90% {margin-top: 0vh}
  100% {margin-top: -20px}
}
@keyframes options-fly-out {
  0% {margin-top: -20px}
  10% {margin-top: 0vh}
  100% {margin-top: -100vh}
}
@keyframes blur {
  from {backdrop-filter: blur(0px);}
  to {backdrop-filter: blur(10px);}
}
@keyframes unblur {
  from {backdrop-filter: blur(10px);}
  to {backdrop-filter: blur(0px);}
}